.boxForm{
    display: block;
    row-gap: 4;
    background-image: url(../../../public/imagenes/card.jpg);
  margin-left: 300px;
  margin-right: 300px;
  padding: 50px;
  border-radius: 30px;
  border: 5px solid black;
}
.titulo{
    color:aliceblue;
    font-size: xx-large;
}
.form{
    border: 2px solid black;
border-radius: 20px;
}
.buttForm{
    border: 2px solid black;
    background: green;
    color: black;
    border-radius: 10px;
    padding: 5px;
    margin-top: 30px;
}