.boxForm{
    display: block;
    row-gap: 4;
    background-image: url(../../../public/imagenes/card.jpg);
  margin-left: 20vw;
  margin-right: 20vw;
  padding: 3vw;
  border-radius: 5vw;
  border: .5vw solid rgb(245, 243, 243);
}
.titulo{
    color:aliceblue;
    font-size: xx-large;
}
.form{
    border: 2px solid black;
border-radius: 3vw;
}
.buttForm{
    border: 2px solid black;
    background: green;
    color: black;
    border-radius: 10px;
    padding: 5px;
    margin-top: 30px;
}