.contador{
    background: rgb(114, 109, 134);
    margin-top:10pxs;
    margin-bottom: 10px;
    margin-right: 250px;
    margin-left: 250px;
    border-radius: 30px;
    border: 1px solid black;
  }
  .contador h1{
    color: black;
font-size: 1rem;
  }
  .count{
    border: 2px solid black;
    border-radius: 20px;
    margin-bottom: 10px;
  }
  .prodCart{
      text-decoration: none;
      background: white;
      border-radius: 20px;
      padding: 10px;
      border: 2px solid black;
      color: black;
    }
    .merc{
      color:white;
    }