
.main2{
    display: block;
   margin: auto;
   background-image: url(../../../public/imagenes/fondoMain.jpg)
}
.main2 h2{
    color: aliceblue;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}