.Navbar {
   
    background-image: url(../../../public/imagenes/fondoMain.jpg);
   margin: 3px;
   border-radius: 20px;
   padding: 10px;
}
.navbutton{
    margin-bottom: auto;
    display: flex;
    justify-content: end;
    background-image: url(../../../public/imagenes/fondoListadp.jpg);
    
}

.celu{
    border: 2px solid black;
    padding: 10px;
    border-radius: 20px;
    background:navajowhite;
    margin: 20px;

    
}
.button{
    text-decoration: none;
    color: black;
}