.Navbar {
   
    background-image: url(../../../public/imagenes/fondoMain.jpg);
   margin: 3px;
   border-radius: 5vw;
   padding: 2vw;
}
.navbutton{
    margin-bottom: auto;
    display: flex;
    justify-content: end;
    background-image: url(../../../public/imagenes/fondoListadp.jpg);
    
}

.celu{
    border: .3vw solid white;
    padding: .7vw;
    border-radius: 3vw;
    background:navajowhite;
    margin: 2vw;

    
}
.button{
    text-decoration: none;
    color: black;
}