.App {
  text-align: center;
  background: rgb(16, 5, 66);
}
.section{
  background-image: url(../public/imagenes/fondoAbstracto.webp);
}
.App-logo {
  margin-left: 20px;
  margin-top: 20px;
  display: flex;
  border-radius: 25px;
  border: 5px solid rgb(124, 58, 58);
 
}
.imgLogo{
  border-radius: 25px;
  height: 100px;
  width: 100px;
}

.titulo{
  color: burlywood;
  box-shadow: 20px;
  margin-left: 55px;
}
.App-header {
  background-image: url(../public/imagenes/fondoAbstracto.webp);
  min-height: 30vh;
  display: flex;
  
  align-items: start;
  
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.main{
  display: flex;
  background-image: url(../public/imagenes/fondoMain.jpg);
}
.footer{
  display: flex;
  justify-content: space-around;
  background: rgb(8, 7, 8);
  padding: 50px;
    color: azure;
  
}
