html{
  height: 100%;
}

body{
  min-height: 100%;
}
.grid-container {
  text-align: center;
 
  display:grid;
  grid-template-areas: 
  "header"
  "section"
  "main"
  "footer";
}


.section{
  grid-area: section ;
  background-image: url(../public/imagenes/fondoAbstracto.webp);
}
.header {
  grid-area: header;
  background-image: url(../public/imagenes/fondoAbstracto.webp);
  color: white;
}
.imgLogo{
  border-radius: 10vw;
  height: 10vw;
  width: 10vw;
  display: flex; 
  border: 1vw solid brown;
}
.main{
  grid-area: main;
  
  background-image: url(../public/imagenes/fondoMain.jpg);
}
.footer{
  grid-area: footer;
  justify-content: space-around;
  background: rgb(8, 7, 8);
  padding: 30px;
    color: azure;
    border: 2px solid white;
    border-radius: 30px;
  margin-bottom: 28px;
}
.footer2{
  display: flex;
  justify-content: space-around;
}
.titulo2{
  color:aliceblue
}